<ion-view view-title="Paramètres">
  <ion-content>

    <ion-list>
      <ion-item class="item-icon-right" type="item" ui-sref="tab.BVSelection">

        <div class="col col-90 col-center">
          Selection du bassin de vie
        </div>

        <i class="icon ion-chevron-right col-center"></i>

      </ion-item>
      <ion-item class="item-icon-right" type="item">

        <div class="col col-90 col-center">
          A propos
        </div>

        <i class="icon ion-chevron-right col-center"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
